@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-heading: "Libre Caslon Display", serif;
  --font-logo: "Libre Caslon Display", serif;
  --font-body: "Inter", sans-serif;

  --color-graphite: #2B2B2B;
  --color-graphite-light: #454545;
  --color-gold: #A88449;
  --color-gold-light: #D9C7A3;
  --color-ivory: #F7F5F1;
  --color-stonetext: #1C1C1C;
}

:root {
  --background: var(--color-ivory);
  --foreground: var(--color-stonetext);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}